<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>关于</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- css files -->
    <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all" />
    <!-- /css files -->
    <!-- font files -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- /font files -->
    <!-- js files -->

    <!-- /js files -->
</head>

<body>
    <!-- navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
                <a class="navbar-brand" href="index.html">
                    <h1><span class="fa fa-diamond" aria-hidden="true"></span>图南物流</h1>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html" th:href="@{/initIndex}">主页</a></li>
                    <li class="active"><a href="about.html" th:href="@{/initAbout}">关于</a></li>
                    <li><a href="service.html" th:href="@{/initService}">服务</a></li>
                    <li><a href="work.html" th:href="@{/initWork}">我们的工作</a></li>
                    <li th:if="${session.customer!=null}"><a href="order.html" th:href="@{/initOrder}">发送订单</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-truck" aria-hidden="true"></i> 跟踪订单<b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <div class="track-w3ls">
                                <h3>输入你的订单编号</h3>
                                <form action="#" th:action="@{/initProcess}" method="post">
                                    <input type="text" name="order_id" placeholder="输入你的订单号" required="required" />
                                    <button type="submit" class="btn btn-primary" id="sub">跟踪</button>
                                </form>
                                <p class="track-p1">联系我们 :</p>
                                <p class="track-p2"><a href="mailto:mail@example.com">tunan@sina.com</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown" th:if="${session.customer!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock" aria-hidden="true"></i>[[${session.customer.cus_name}]]<b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <div class="login-w3ls">
                                <h3>欢迎你！[[${session.customer.cus_name}]]</h3>
                                <h3><a href="#" th:href="@{/initContacts}"><span class="label label-info">添加联系人</span></a></h3>
                                <h3><a href="#" th:href="@{/logout}"><span class="label label-info">退出</span></a></h3>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown" th:unless="${session.customer!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock" aria-hidden="true"></i>登录<b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <div class="login-w3ls">
                                <h3>登录你的账户</h3>
                                <form action="#" th:action="@{/login}" method="post">
                                    <input type="text" name="cus_short" placeholder="账户" required="required" />
                                    <input type="password" name='cus_pwd' placeholder="密码" required="required" />
                                    <input type="submit" name="submit" value="去登录" />
                                </form>
                                <a href="/regist.html" th:href="@{/initRegist}">注册</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- navigation -->
    <!-- banner section -->
    <section class="inner-w3ls">
        <div class="container">
            <h2 class="text-center w3 w3l agileinfo wthree">关于运输商店</h2>
            <p class="text-center w3 w3l agileinfo wthree">不是每一个物流公司都叫图南</p>
        </div>
    </section>
    <!-- /banner section -->
    <section class="about-w3ls">
        <div class="container">
            <!-- Intro Content -->
            <div class="row">
                <div class="col-lg-12">
                    <i class="fa fa-braille" aria-hidden="true"></i>
                    <h3 class="text-center">关于我们的生意</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- Team Members -->
    <section class="team-w3ls">
        <div class="container">
            <i class="fa fa-trophy" aria-hidden="true"></i>
            <h3 class="text-center w3-agileits agileits-w3layouts agile w3-agile">我们的团队</h3>
            <p class="text-center w3-agileits agileits-w3layouts agile w3-agile">不是每一个物流公司都叫图南.</p>

            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                <div class="thumbnail">
                    <div class="hover01 column">
                        <div>
                            <figure><img class="img-responsive" src="images/team1.jpg" alt="w3ls"></figure>
                        </div>
                    </div>
                    <div class="caption">
                        <h4>胡封涛</h4>
                        <p class="team-p1">Founder</p>
                        <ul class="social-icons1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                <div class="thumbnail">
                    <div class="hover01 column">
                        <div>
                            <figure><img class="img-responsive" src="images/team2.jpg" alt="w3ls"></figure>
                        </div>
                    </div>
                    <div class="caption">
                        <h4>李佳明</h4>
                        <p class="team-p1">CEO</p>
                        <ul class="social-icons1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                <div class="thumbnail">
                    <div class="hover01 column">
                        <div>
                            <figure><img class="img-responsive" src="images/team3.jpg" alt="w3ls"></figure>
                        </div>
                    </div>
                    <div class="caption">
                        <h4>吴陈磊</h4>
                        <p class="team-p1">Manager</p>
                        <ul class="social-icons1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                <div class="thumbnail">
                    <div class="hover01 column">
                        <div>
                            <figure><img class="img-responsive" src="images/team4.jpg" alt="w3ls"></figure>
                        </div>
                    </div>
                    <div class="caption">
                        <h4>陈荣</h4>
                        <p class="team-p1">Director</p>
                        <ul class="social-icons1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                <div class="thumbnail">
                    <div class="hover01 column">
                        <div>
                            <figure><img class="img-responsive" src="images/team5.jpg" alt="w3ls"></figure>
                        </div>
                    </div>
                    <div class="caption">
                        <h4>严安</h4>
                        <p class="team-p1">Secretary</p>
                        <ul class="social-icons1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                <div class="thumbnail">
                    <div class="hover01 column">
                        <div>
                            <figure><img class="img-responsive" src="images/team6.jpg" alt="w3ls"></figure>
                        </div>
                    </div>
                    <div class="caption">
                        <h4>彭铭</h4>
                        <p class="team-p1">Marketing</p>
                        <ul class="social-icons1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="cust-agileits">
        <div class="container">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <h3 class="text-center">我们的合作用户</h3>
            <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <!-- Our Customers -->

            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive customer-img" src="images/cust-img1.jpg" alt="w3ls"></figure>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive customer-img" src="images/cust-img2.jpg" alt="w3ls"></figure>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive customer-img" src="images/cust-img3.jpg" alt="w3ls"></figure>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive customer-img" src="images/cust-img4.jpg" alt="w3ls"></figure>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive customer-img" src="images/cust-img5.jpg" alt="w3ls"></figure>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 cust-w3ls">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive customer-img" src="images/cust-img6.jpg" alt="w3ls"></figure>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <!-- footer section -->
    <section class="footer-agileits">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h3>更多信息</h3>
                <ul class="info-links">
                    <li><a href="about.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i>关于我们</a></li>
                    <li><a href="order.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i>联系我们</a></li>
                    <li><a href="icons.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i>图标</a></li>
                    <li><a href="privacy.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i> 隐藏政策</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h3>我们的链接</h3>
                <ul class="footer-links">
                    <li><a href="service.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i>我们的服务</a></li>
                    <li><a href="work.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i> 我们的工作</a></li>
                    <li><a href="process.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i> 流程</a></li>
                    <li><a href="typo.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i> 组件</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h3>联系信息</h3>
                <div class="contact-info">
                    <div class="address">
                        <i class="glyphicon glyphicon-globe"></i>
                        <p class="p3">徐东凯旋门广场A座18楼</p>
                        <p class="p4">中国湖北省武汉市</p>
                    </div>
                    <div class="phone">
                        <i class="glyphicon glyphicon-phone-alt"></i>
                        <p class="p3">+666666666</p>
                        <p class="p4">+00 1010101010</p>
                    </div>
                    <div class="email-info">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <p class="p5"><a href="mailto:myemail1@example.com">tunan@sina.com</a></p>
                        <p class="p6"><a href="mailto:myemail2@example.com">tunan@sina.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h3>订阅我们</h3>
                <div class="subscribe">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="email" name="email2" class="form-control" id="inputEmail1" placeholder="邮箱">
                        </div>
                        <div class="form-group">
                            <input type="text" name="user" class="form-control" id="text1" placeholder="你的名字">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-outline">订阅</button>
                        </div>
                    </form>
                </div>
                <ul class="social-icons2">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <hr>
            <p class="copyright">Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">图南</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
    </section>
    <!-- /footer section -->
    <a href="#0" class="cd-top">Top</a>
    <!-- js files -->
    <script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="js/SmoothScroll.min.js" th:src="@{/js/SmoothScroll.min.js}"></script>
    <script src="js/index.js" th:src="@{/js/index.js}"></script>
    <script src="js/top.js" th:src="@{/js/top.js}"></script>
    <!-- /js files -->
</body>
</html>
			